---
import Layout from "../layouts/page-layout.astro";
import Link from "../components/link.astro";
import PostTitle from "../components/post-title.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
const rustPosts = allPosts
  .filter((post) => post.data.group?.startsWith("rust"))
  .sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));
---

<Layout mainPage={false} subHeader="Rust Book Notes">
  <div class="relative top-[20px] flex flex-col gap-8">
    {
      rustPosts.map((post) => {
        return (
          <Link
            classList={[
              "block scale-100 py-4 hover:scale-[1.005] active:scale-100 hover:bg-gray-5 px-4 rounded-md sm:py-3",
            ]}
            target="_self"
            href={`/${post.slug}/`}
          >
            <article>
              <PostTitle title={post.data.title} date={post.data.date} />
              <p class="mt-1">{post.data.spoiler}</p>
            </article>
          </Link>
        );
      })
    }
  </div>
</Layout>
